html {
    height: 100%;
}
body {
    height: 100%;
}
.navbar {
    height: 4rem;
}
.main {
    background: #f1f3f5;
    height: 100%;
    margin-top: 4rem;
}

h2.container {
    margin-bottom: 2rem;
    padding-top: 3rem;
}