code[class*=language-],pre[class*=language-] {
    font-size: 0.9em;
}

.line-highlight:before{
display: none;
}

pre[data-line] {
	padding-left: 1rem;
}

@media (min-width: 1200px){
.container {
    max-width: 1300px;
}
}